body{background-color:#E8EAF6;}
header
{    background-color:#1A237E;
     padding:1em 0 1em 1em;
}
#bigTitle
{    color:white;
     font-family:sans-serif;
     margin:0;
     font-size:1.5em;
     font-weight: bold;
}
#secTitle
{    color:white;
     font-family: Times New Roman, serif;
     font-style:italic;
     margin:0;
}
nav
{    
     background-color:#3F51B5;
}
nav li:hover{ color:white;
               background-color:#F50057;}
nav li a{color:inherit;}
nav li{color:#00B0FF;}
ul
{    padding:0.3em 0 0.3em 0;
     margin:0;
     padding-left:0.7em;
}
li
{    display:inline;
     list-style:none;
     padding:0.3em 0.3em 0.3em 0.3em;
     font-family:sans-serif;
}
a
{    color:#00B0FF;
}
.bodypart
{    border:0.5em solid white;
     margin:0.5em 0em 0em 0em;
     background-color:white;
}
.title
{    padding:1em 0 1em 1em;
     background-color:#7986CB;
     color:white;
     font-family:sans-serif;
     margin:0;
     font-weight: bold;
}
figure>img
{    width:100%;
     height:100%; 
     margin:0;
     padding:0;
}
figure
{    margin:0;
     padding:0;
     background-color:#C5CAE9;
}
figcaption
{    padding:0.5em 0 0.5em 1em;
     color:#7990A3;
}
.NewYorkCentralPark
{    
     background-color:white;
}
#details
{    padding-left:1em;
     padding-right:1em;
     font-family:Times New Roman,serif;
}
#details>a
{    font-weight:bold;
}
#options
{    text-align:right;
     margin-right: 1em;
}
.bodypart>section
{    margin:0 0 0.5em 0;
     border:solid 1.5px #C5CAE9;
}
.author
{    font-family:Times New Roman,serif;
     font-style: italic;
     color:#C5CAE9;
     font-weight: normal;
}
.relatedphotos>img
{    vertical-align: middle;

}
.comments
{    padding-left:1em;
     font-family: Times New Roman, serif;
     font-weight: bold;
}
.date
{
    color:#F5A2C1;
}
footer
{   background-color:#1A237E;
    padding:1.3em 0 1.3em 1em;
}
#cpRight{
    color: white;
}

